.wrapper {
    width: 100vw;
    background-color: #e0e0e0;
    /* 패딩 상하 20px 좌우 0 */
    padding: 20px 0;
}

.container {
    max-width: 1100px;
    /* 가운데 정렬 */
    margin: 0 auto; 
    /* 좌우 배치 */
    display: flex;
    justify-content: space-between;
}

.name {
    color: #050505;
    /*  Medium 적용 */
    font-weight: 500;
    font-size: 18px;
}

.list {
    /* ul 앞에 점 표시 없애줌 */
    /* list-style: none; */
    /* ul 앞에 문자열 변경 가능 */
    list-style: '* ';
}